{% extends 'base.html' %}

{% block page-title %}
<h3>zekoCMR</h3>
{% endblock %}


{% block x_title %}
<h2>Wiadomości</h2>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
          <div class="col-sm-3 mail_list_column">
            <button id="compose" class="btn btn-sm btn-success btn-block" type="button">Wyślij Wiadomość</button>
            {% for mssg in inbox %}
              <div class="mail_list">
                <div class="left">
                  <a href="#" data-toggle="tooltip" data-placement="right" title="Odpisz"><i class="fa fa-envelope-o"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="right" title="Usuń"><i class="fa fa-trash-o"></i></a>
                </div>
                <a href="?current={{mssg.id}}"><!-- here -->
                  <div class="right">
                    <h3>{{ mssg.mssg_from.username }} <small>{{ mssg.delivery_date }}</small></h3>
                    <h2>{{ mssg.title|safe }}</h2>
                    <p>{{ mssg.text|safe|truncatewords:15 }}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
          <!-- /MAIL LIST -->

          <!-- CONTENT MAIL -->
          <div class="col-sm-9 mail_view">
            <div class="inbox-body">
              <div class="mail_heading row">
                <div class="col-md-8">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-envelope"></i> Odpisz</button>
                    <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                  </div>
                </div>
                <div class="col-md-4 text-right">
                  <p class="date">{{ current_mssg.delivery_date }}</p>
                </div>
                <div class="col-md-12">
                  <h4> {{ current_mssg.title|safe }}</h4>
                </div>
              </div>
              <div class="sender-info">
                <div class="row">
                  <div class="col-md-12">
                    <strong>{{ current_mssg.mssg_from.username }}</strong>
                    do
                    <strong>mnie</strong>
                  </div>
                </div>
              </div>
              <div class="view-mail">
                {{ current_mssg.text|linebreaks|safe }}
              </div>
              <div class="btn-group">
                    <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-envelope"></i> Odpisz</button>
                <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>

          </div>
          <!-- end of mailing content -->
    </div>
</div>
{% endblock %}
