<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse1">Wyszukaj Wiadomość</a>
    </h4>
  </div>
  <div id="collapse1" class="panel-collapse collapse">
    <form>
      <div class="panel-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                  <input type="text" style="width: 200px" name="date-range" id="reservation" class="form-control" value="03/18/2016 - 03/23/2016" />
                </div>
              </div>
            </div>
          </fieldset>
        </form>

      </div>
      <div class="panel-footer">
        <button type="submit" name="search" value="search" class="btn btn-primary btn-block">Szukaj</button>
      </div>
    </form>
  </div>
</div>
