{% extends 'base.html' %}

{% block page-title %}
<h3>zekoCMR</h3>
{% endblock %}


{% block x_title %}
<h2>Strona głowna zekoCMR</h2>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3>404</h3>
            <p>Nie ma takiej firmy!<br></p>
            <p><a class="btn btn-primary" href="/companies">firmy</a>    <a class="btn btn-primary" href="/users">użytkownicy</a></p>

        </div>
    </div>
</div>
{% endblock %}
