<!-- button you should click to add comment -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCommentModal">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj komentarz
</button>
<!-- Modal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dodaj komentarz</h4>
      </div>
      <div class="modal-body">
        <form id="add_comment" action="." method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_title">Tytuł:</label> <input class="form-control" id="id_title" maxlength="80" name="title" value="" type="text" required>
            </div>
            <div class="form-group">
              <label for="id_text">Tekst:</label> <textarea class="form-control" id="id_text" name="text" cols="88" rows="10" required></textarea>
            </div>
            <input type="hidden" id="id_id_user" type="IntegerField" name="id_user" value={{ user.id }} />
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            <button type="submit" class="btn btn-primary" name="add-comment" value="add" disabled="disabled" />Zapisz</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- end of button and it's modal -->
