{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>zekoCMR</title>
                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
                </head>
                <body>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!--<a class="navbar-brand" href="/home">zekoCMR</a>-->
                                <ul class="nav nav-tabs">
                                 <li role="presentation"><a href="/home">zekoCMR</a></li>
                                 <li role="presentation"><a href="/companies">Firmy</a></li>
                                 <li role="presentation"><a href="/users">Użytkownicy</a></li>
                                </ul>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                      <ul class="nav nav-tabs">
                                         <li role="presentation">Zalogowano ({{ user.username }}) <a href="/logout">Wyloguj</a></li>
                                      </ul>
                                </ul>
                            </div>
                        </div>
                    </nav>

                {% block content %}
                {% endblock %}


                    <!-- Core Scripts - Include with every page -->
                    <script src = "{% static 'js/jquery.min.js' %}"></script>
                    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
        {% block javascript %}
        {% endblock %}


            </body>
        </html>