{% extends 'base.html' %}


{% block page-title %}
<h3>Firmy</h3>
{% endblock %}


{% block x_title %}
<h2>Strona zarządzania firmami</h2>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            {% if valid_error %}
             {# If user typed wrong data while adding company, then show this alter #}
                <div class="alert alert-warning alert-dismissible" role="alert">
                <p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Nie można dodać firmy ze względu na błędne dane!<br>Pamiętaj, że nip ma 9 cyfr i zarówno on jak i pole nazwa jest wymagane.
                </p>
                </div>
            {% endif %}

            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-2">
                      <br><br>{% include 'addcompanybutton.html' %}
                    </div>
                    <div class="col-sm-6">
                      {% include 'pagination_company.html' with pages=companies %}
                    </div>
                    <div class="col-sm-4">
                      <br><br>{% include 'search_company.html' %}
                    </div>
                </div>
              </div><!-- end of panel heading -->
              <div class="panel panel-body">
            <!-- Table with records from Companies -->
            <table class="table table-striped">
                <caption>Lista firm:</caption>
                <thead>
                    <tr>
                      <th width="10%" colspan="2"><a href="/companies?order={% if sorted_by == 'ca' %}-{% endif %}ca{% if users %}&page={{ companies.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">Kategoria</a></th>
                      <th><a href="/companies?order={% if sorted_by == 'cn' %}-{% endif %}cn{% if users %}&page={{ companies.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">Nazwa firmy</a></th>
                      <th><a href="/companies?order={% if sorted_by == 'ph' %}-{% endif %}ph{% if users %}&page={{ companies.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">Telefon</a></th>
                      <th><a href="/companies?order={% if sorted_by == 'np' %}-{% endif %}np{% if users %}&page={{ companies.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">NIP</a></th>
                      <th><a href="/companies?order={% if sorted_by == 'st' %}-{% endif %}st{% if users %}&page={{ companies.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">Adres</a></th>
                      <th><a href="/companies?order={% if sorted_by == 'ct' %}-{% endif %}ct{% if users %}&page={{ companies.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">Miasto</a></th>
                      <th width="10%">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                      {# <a href="#" data-toggle="tooltip" title="{{ company.category.name }}"></a> #}
                      <td width="5px" bgcolor="{{ company.category.color }}"></td><td>{{ company.category }}</td>
                      <td><a href="{% url 'company_details' id=company.id %}" data-toggle="tooltip" title="{{ company.category.name }}">{{ company }}</a></td>
                      <td>{{ company.phone }}</td>
                      <td>{{ company.nip }}</td>
                      <td>{{ company.st_address }}</td>
                      <td>{{ company.city }}</td>
                      <td>
                            <!-- EDITION OF COMPANIES -->
                                <a data-toggle="modal" href="#" data-target="#editCompany{{ company.id }}Modal">
                                  <i class="fa fa-pencil"></i> edytuj
                                </a>
                                <!-- Modal -->
                              {% include 'companymodaledition.html' %}
                            <!-- END OF EDITION -->
                                /

                           <!-- DELETING COMPANIES -->
                           <a data-toggle="modal" href="#" data-target="#deleteCompany{{ company.id }}Modal">
                             <i class="fa fa-trash"></i> usuń
                           </a>
                           <!-- Modal -->
                          <div class="modal fade" id="deleteCompany{{ company.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   <h4 class="modal-title" id="myModalLabel">Potwierdzenie usunięcia</h4>
                                 </div>
                                 <form method="POST" class="post-form">{% csrf_token %}
                                     <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="del" />
                                     <input type="hidden" id="id_id_del" type="IntegerField" name="id_del" value={{ company.id }} />
                                     <div class="modal-body">
                                       Czy napewno chcesz usunąć firmę "{{ company }}"&#63;

                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Usuń</button>
                                     </div>
                                 </form>
                               </div>
                             </div>
                           </div>
                           <!-- END OF DELETING COMPANIES -->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div><!--end of panel's body-->
          <div class panel-footer>
            {% include 'pagination_company.html' with pages=companies %}
          </div>
        </div><!--end of panel-->
        <p>tylko coś testuję</p>




        <!-- <div class="form-group">
          <label>Select Custom</label>
          <select class="select2_single form-control" tabindex="-1">
            <option></option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div> -->





        <p>koniec testu</p>
        </div><!-- end of joombortron -->
    </div> <!-- end of row -->
</div><!-- end of contrainer -->
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
 function submitState(el) {

    var $form = $(el),
        $requiredInputs = $form.find('input:required'),
        $submit = $form.find('button[type="submit"]');

    $submit.attr('disabled', 'disabled');

    $requiredInputs.keyup(function () {

      $form.data('empty', 'false');

      $requiredInputs.each(function() {
        if ($(this).val() === '') {
          $form.data('empty', 'true');
        }
      });

      if ($form.data('empty') === 'true') {
        $submit.attr('disabled', 'disabled').attr('title', 'Wypełnij wszystkie wymagane pola!');
        $('.sendButton').attr('disabled', false);
      } else {
        $submit.removeAttr('disabled').attr('title', 'Wyślij');
      }
    });
  }

  // apply to each form element individually
  submitState('#add_company');
  submitState('#edit_company{{ company.id }}');
});
</script>
{% endblock %}
