{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <p>Jesteś na stronie zarządzania firmami</p>
            {% if valid_error %}
             {# If user typed wrong data while adding company, then show this alter #}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Nie można dodać firmy ze względu na błędne dane!<br>Pamiętaj, że nip ma 9 cyfr i zarówno on jak i pole nazwa jest wymagane.
                    </p>
                    </div>
            {% endif %}

            <div class="panel panel-default">
            <!-- Table with records from Companies -->
            <table class="table table-striped">
                <caption>Lista firm.</caption>
                <thead>
                    <tr>
                        <th>Nazwa firmy</th>
                        <th>NIP</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company }}</td>
                        <td>{{ company.nip }}</td>
                        <td>
                            <!-- EDITION OF COMPANIES -->
                                <a data-toggle="modal" data-target="#editCompany{{ company.id }}Modal">
                                  edytuj
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="editCompany{{ company.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Edytuj firmę {{ company }}</h4>
                                      </div>
                                      <div class="modal-body">
                                        Wpisz dane: Nazwa firmy jest wymagana, a nip musi mieć 9 cyfr.
                                        <form method="POST" class="post-form">{% csrf_token %}
                                                <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="edit" />
                                                <input type="hidden" id="id_id_edit" type="IntegerField" name="id_edit" value={{ company.id }} />
                                            <p><label for="id_name">Nazwa:</label>
                                                <input id="id_name" type="CharField" name="name" max_length="70" value="{{ company.name }}" required /></p>
                                            <p><label for="id_nip">Nip:</label>
                                                <input id="id_nip" type="IntegerField" name="nip" value="{{ company.nip }}" required /></p>
                                      </div>
                                      <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                            <button type="submit" class="btn btn-primary">Zapisz</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            <!-- END OF EDITION -->
                                /

                           <!-- DELETING COMPANIES -->
                           <a data-toggle="modal" data-target="#deleteCompany{{ company.id }}Modal">
                             usuń
                           </a>
                           <!-- Modal -->
                           <div class="modal fade" id="deleteCompany{{ company.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                               <div class="modal-content">
                                 <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   <h4 class="modal-title" id="myModalLabel">Potwierdzenie usunięcia</h4>
                                 </div>
                                 <form method="POST" class="post-form">{% csrf_token %}
                                     <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="del" />
                                     <input type="hidden" id="id_id_del" type="IntegerField" name="id_del" value={{ company.id }} />
                                     <div class="modal-body">
                                       Czy napewno chcesz usunąć firmę "{{ company }}"&#63;

                                     </div>
                                     <div class="modal-footer">

                                       <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Usuń</button>
                                     </div>
                                 </form>
                               </div>
                             </div>
                           </div>
                           <!-- END OF DELETING COMPANIES -->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- button you should click to add company -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCompanyModal">
              Dodaj Firmę
            </button>
            <!-- Modal -->
            <div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Dodaj firmę</h4>
                  </div>
                  <div class="modal-body">
                    Wpisz dane: Nazwa firmy jest wymagana, a nip musi mieć 9 cyfr.
                      <div class="span6 pull-right">
                    <form method="POST" class="post-form">{% csrf_token %}
                            <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="add" />
                        <p><label for="id_name">Nazwa:</label>
                            <input id="id_name" type="CharField" name="name" max_length="70" required /></p>
                        <p><label for="id_nip">Nip:</label>
                            <input id="id_nip" type="IntegerField" name="nip" required /></p>
                       {#  formAdd.as_p   #}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
        <!-- end of button and it's modal -->
        </div>
    </div>
</div>
{% endblock %}