{% extends 'base.html' %}

{% block page-title %}
<h3>zekoCMR</h3>
{% endblock %}


{% block x_title %}
<h2>Zarządzanie firmą:&#34;{{ company }}&#34;</h2>
<br><br><a href="/companies">Powrót do Firm</a>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="panel panel-default">
              <div class="panel-title">Firma: &#34;{{ company }}&#34;</div>
              <div class="panel-heading">
                <a data-toggle="modal" href="#" data-target="#editCompany{{ company.id }}Modal">
                  <i class="fa fa-pencil"></i> edytuj
                </a>
                {% include 'companymodaledition.html' %}
                /
                <!-- DELETING COMPANIES -->
                <a data-toggle="modal" href="#" data-target="#deleteCompany{{ company.id }}Modal">
                  <i class="fa fa-trash"></i> usuń
                </a>
              {% include 'delcompany.html' %}
              </div>
              <div class="panel-body">
                  Telefon: {{ company.phone }}<br>
                  Nip: {{ company.nip }}<br>
                  Adres: {{ company.st_address }}<br>
                  Miasto: {{ company.city }}<br>
              </div>
            </div>
            <p>Komentarze:</p>
            {% include 'add_comment_button.html' %}
            <br>Dodane komentarze:
            <div class="panel-group">
            {% for comment in comments %}
                <div class="panel panel-default">
                  <div class="panel-title">{{ comment.title|safe }}</div>
                  <div class="panel-heading">Utworzony {{ comment.created }} przez {{ comment.author }}</div>
                  <div class="panel-body">{{ comment.text|safe }}</div>
                  {% if user.id == comment.author.id %}
                  <div class="panel-footer"><a data-toggle="modal" href="#" data-target="#editComment{{ comment.id }}Modal"><i class="fa fa-pencil"></i> edytuj</a> / <a data-toggle="modal" href="#" data-target="#deleteComment{{ comment.id }}Modal"><i class="fa fa-trash"></i> usuń</a></div>
                      {% include 'delcomment.html' %}
                      {% include 'edit_comment_button.html' %}
                    </div>
                  {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
 function submitState(el) {

    var $form = $(el),
        $requiredInputs = $form.find('input:required'),
        $submit = $form.find('button[type="submit"]');

    $submit.attr('disabled', 'disabled');

    $requiredInputs.keyup(function () {

      $form.data('empty', 'false');

      $requiredInputs.each(function() {
        if ($(this).val() === '') {
          $form.data('empty', 'true');
        }
      });

      if ($form.data('empty') === 'true') {
        $submit.attr('disabled', 'disabled').attr('title', 'Wypełnij wszystkie wymagane pola!');
        $('.sendButton').attr('disabled', false);
      } else {
        $submit.removeAttr('disabled').attr('title', 'Wyślij');
      }
    });
  }

  // apply to each form element individually
  submitState('#add_comment');
  //submitState('#edit_comment{{ comment.id }}');
  //submitState('#edit_company{{ company.id }}');
});
</script>
{% endblock %}
