<!-- Modal deleting companies -->
<div class="modal fade" id="deleteDoc{{ file.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Potwierdzenie usunięcia</h4>
      </div>
      <form method="POST" class="post-form">{% csrf_token %}
          <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="del_pdf" />
          <input type="hidden" id="id_id_del" type="IntegerField" name="id_del" value={{ file.id }} />
          <div class="modal-body">
            Czy napewno chcesz usunąć plik "{{ file.companypdf.name }}"&#63;
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-primary">Usuń</button>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- END OF DELETING COMPANIES -->
