
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Ogólne</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Nawigacja <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Strona Główna</a></li>
                      {% if user.is_authenticated %}
                      <li><a href="/companies"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Firmy</a></li>
                      <li><a href="/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Użytkownicy</a></li>
                      {% endif %}
                      {% if user.username == 'zeko' %}
                      <li><a href="/test">Strona testowa</a></li>
                      {% endif %}
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->
