
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Ogólne</h3>
    <ul class="nav side-menu">
        <li><a href="/home"><i class="fa fa-home"></i> Strona główna</a></li>
        {% if user.is_authenticated %}
        <li><a><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Firmy</a>
          <ul class="nav child_menu">
            <li><a href="/companies">Zarządzaj firmami</a></li>
            <li><a href="/categories/">Kategorie</a></li>
          </ul>
        </li>
        <li><a href="/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Użytkownicy</a></li>
        {% endif %}
        {% if user.username == 'zeko' %}
        <li><a href="/test">Strona testowa</a></li>
        {% endif %}
        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->
