{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Siemano</h1>
            <p>Jesteś na stronie testowej</p>
            <p>uwaga test</p>

            <div class="panel panel-default">
            <!-- Table -->
            <table class="table table-striped">
                <caption>Lista firm.</caption>
                <thead>
                    <tr>
                        <th>Nazwa firmy</th>
                        <th>NIP</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company }}</td>
                        <td>{{ company.nip }}</td>
                        <td><a href="#">edytuj</a> / <a href="#">usuń</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

            <p>Testujemy drugą rzecz</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCompanyModal">
              Dodaj Firmę
            </button>
            <!-- Modal -->
            <div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Dodaj firmę</h4>
                  </div>
                  <div class="modal-body">
                    Bardzo fajnie
                    <form method="POST" class="post-form">{% csrf_token %}
                       {{ formAdd.as_p }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>

            <p>Testujemy trzecią rzecz</p>
             <!-- Button trigger modal -->
            <a data-toggle="modal" data-target="#editCompanyModal">
              edytuj
            </a>
            <!-- Modal -->
            <div class="modal fade" id="editCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edytuj firmę</h4>
                  </div>
                  <div class="modal-body">
                    testuje
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary">Zapisz</button>
                  </div>
                </div>
              </div>
            </div>

             <p>koniec testu</p>
            <p><a class="btn btn-primary" href="/home">home</a></p>
        </div>
    </div>
</div>
{% endblock %}