{% extends 'base-test.html' %}

{% block page-title %}
<h3>zekoCMR</h3>
{% endblock %}


{% block x_title %}
<h2>Strona testowa zekoCMR</h2>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3>Witaj {{ user.username }}</h3>
            {% if invalid_data %}
             <div class="alert alert-danger alert-dismissible" role="alert">
             <p>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <strong>Wysyłanie pliku nie powiodło się</strong><br>
               Plik musi być w formacie pdf i nie może przekroczyć 100MB
             </p>
             </div>
            {% endif %}
            {% if uploaded %}
             <div class="alert alert-success alert-dismissible" role="alert">
             <p>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <strong>Dodano plik</strong>
             </div>
             </p>
            {% endif %}
            <p>Jesteś na stronie testowej zekoCMR.<br></p>
            {% include 'add_pdf_button.html' %}
            <p>pliki</p>
            {% for file in pdf_files %}
            :D ebin <a href="{{file.companypdf.url}}">{{ file.companypdf.name}}</a><br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
