<div class="modal fade" id="editUser{{ i_user.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edytuj użytkownika {{ i_user.username }}</h4>
      </div>
      <div class="modal-body">
        Aby nie zmieniać hasłą, pozostaw pole hasło puste.
        <form method="POST" class="post-form">{% csrf_token %}
                <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="edit" />
                <input type="hidden" id="id_id_edit" type="IntegerField" name="id_edit" value={{ i_user.id }} />
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_nick">Nick:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="id_nick" type="CharField" name="nick" max_length="30" required  value="{{ i_user.username }}" />
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_password">Hasło:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="id_password" type="password" name="password" max_length="30" />
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_password_re">Potwierdz hasło:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="id_password_re" type="password" name="password_re" max_length="30" />
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_first_name">Imie:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="id_first_name" type="CharField" name="first_name" max_length="30" value="{{ i_user.first_name }}" />
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_last_name">Nazwisko:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="id_last_name" type="CharField" name="last_name" max_length="30" value="{{ i_user.last_name }}" />
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_email">Email:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="id_email" type="EmailField" name="email" max_length="30" value="{{ i_user.email }}" />
            </div>

      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
      </div>
    </div>
  </div>
</div>
