{% extends 'base.html' %}

{% block page-title %}
<h3>Użytkownicy</h3>
{% endblock %}


{% block x_title %}
<h2>Strona do zarządzania użytkownikami</h2>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
        <!-- Table with records from users -->
        <div class="jumbotron">
            {% if password_not_match %}
             {# If user typed wrong data while adding company, then show this alter #}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Podane hasła nie są jednakowe!
                    </p>
                    </div>
            {% endif %}
            <div class="panel panel-default">
            <!-- table with users -->
            <table class="table table-striped">
                <caption>Lista użytkowników</caption>
                <thead>
                    <tr>
                        <th><a href="/users?order={% if sorted_by == 'un' %}-{% endif %}un{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">nick</a></th>
                        <th><a href="/users?order={% if sorted_by == 'e' %}-{% endif %}e{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">email</a></th>
                        <th><a href="/users?order={% if sorted_by == 'fn' %}-{% endif %}fn{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">imie</a></th>
                        <th><a href="/users?order={% if sorted_by == 'ln' %}-{% endif %}ln{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">nazwisko</a></th>
                        <th>akcja</th>
                    </tr>
                </thead>
                <tbody>
                {% for i_user in users %}
                    <tr>
                        <td>{{ i_user.username }}</td>
                        <td>{{ i_user.email }}</td>
                        <td>{{ i_user.first_name }}</td>
                        <td>{{ i_user.last_name }}</td>
                        <td>

                            <!-- user edition -->
                           <a data-toggle="modal" data-target="#editUser{{ i_user.id }}Modal">
                             edytuj
                           </a>
                           <!-- Modal user edition -->
                           {% include 'usermodaledition.html' %}
                            <!-- end of user edition -->

                            /


                            <!-- user deletion -->
                           <a data-toggle="modal" data-target="#deleteUser{{ i_user.id }}Modal">
                             usuń
                           </a>
                           <!-- Modal -->
                           <div class="modal fade" id="deleteUser{{ i_user.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                               <div class="modal-content">
                                 <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   <h4 class="modal-title" id="myModalLabel">Potwierdzenie usunięcia</h4>
                                 </div>
                                 <form method="POST" class="post-form">{% csrf_token %}
                                     <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="del" />
                                     <input type="hidden" id="id_id_del" type="IntegerField" name="id_del" value={{ i_user.id }} />
                                     <div class="modal-body">
                                       Czy napewno chcesz usunąć użytkownika "{{ i_user.username }}"&#63;

                                     </div>
                                     <div class="modal-footer">

                                       <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Usuń</button>
                                     </div>
                                 </form>
                               </div>
                             </div>
                           </div>

                            <!-- end of user deletion-->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- This allow to search users by names -->
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <form method="GET" class="post-form">
                            <span class="input-group-btn">
                              <input id="search" type="CharField" name="search" max_length="70" class="form-control" placeholder="Szukaj użytkownika...">
                                <button type="submit" class="btn btn-primary" type="button">szukaj!</button>
                              </span>
                        </form>
                    </div>
                </div>
            </div>
            <!-- previous current and next page -->
                <div class="pagination">
                <span class="step-links">
                  <ul class="pagination pagination-sm">
                     {% if users.has_previous %}
                            <li class="paginate_button previous">
                               <a href="/users?page={{ users.previous_page_number }}{% if search_phrase %}&search={{ search_phrase }}{% endif %}{% if sorted_by %}&order={{sorted_by}}{% endif %}">Poprzednia</a>
                            </li>
                     {% else %}
                           <li class="paginate_button previous disabled">
                              <a href="#">Poprzednia</a>
                           </li>
                     {% endif %}

                     {% for page in users.paginator.page_range %}
                            <li class="{% if users.number == page  %}active{% endif %}"><a href="/users?page={{ page }}{% if search_phrese %}&search={{ search_phrase }}{% endif %}{% if sorted_by %}&order={{sorted_by}}{% endif %}">{{ page }}</a></li>
                     {% endfor %}

                     {% if users.has_next %}
                         <li class="paginate_button next">
                             <a href="/users?page={{ users.next_page_number }}{% if search_phrase %}&search={{ search_phrase}}{% endif %}{% if sorted_by %}&order={{sorted_by}}{% endif %}">Następna</a>
                         </li>
                     {% else %}
                     <li class="paginate_button next disabled">
                         <a href="#">Następna</a>
                     </li>
                     {% endif %}
                  </ul>
                 </span>
                </div>
                <!-- and of paginate pages -->

            </div>
            <!-- end of table with users -->
            <!-- add user button -->
            {% include 'adduserbutton.html' %}
        </div>
    </div>
</div>
{% endblock %}
