{% extends 'base.html' %}

{% block page-title %}
<h3>Użytkownicy</h3>
{% endblock %}


{% block x_title %}
<h2>Strona do zarządzania użytkownikami</h2>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Table with records from users -->
        <div class="jumbotron">
            {% if password_not_match %}
             {# If user typed wrong data while adding company, then show this alter #}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Podane hasła nie są jednakowe!
                    </p>
                    </div>
            {% endif %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-2">
                      <br><br>{% include 'adduserbutton.html' %}
                    </div>
                    <div class="col-sm-6">
                      {% include 'pagination_users.html' %}
                    </div>
                    <div class="col-sm-4">
                      <br><br>{% include 'search_user.html' %}
                    </div>
                </div>
              </div><!-- end of panel heading -->

            <div class="panel-body">
            <!-- table with users -->
            <table class="table table-striped">
                <caption>Lista użytkowników</caption>
                <thead>
                    <tr>
                        <th><a href="/users?order={% if sorted_by == 'un' %}-{% endif %}un{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">nick</a></th>
                        <th><a href="/users?order={% if sorted_by == 'e' %}-{% endif %}e{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">email</a></th>
                        <th><a href="/users?order={% if sorted_by == 'fn' %}-{% endif %}fn{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">imie</a></th>
                        <th><a href="/users?order={% if sorted_by == 'ln' %}-{% endif %}ln{% if users %}&page={{ users.number }}{% endif %}{% if search_phrase %}&search={{ search_phrase}}{% endif %}">nazwisko</a></th>
                        <th>akcja</th>
                    </tr>
                </thead>
                <tbody>
                {% for i_user in users %}
                    <tr>
                        <td>{{ i_user.username }}</td>
                        <td>{{ i_user.email }}</td>
                        <td>{{ i_user.first_name }}</td>
                        <td>{{ i_user.last_name }}</td>
                        <td>

                            <!-- user edition -->
                           <a data-toggle="modal" href="#" data-target="#editUser{{ i_user.id }}Modal">
                             edytuj
                           </a>
                           <!-- Modal user edition -->
                           {% include 'usermodaledition.html' %}
                            <!-- end of user edition -->

                            /


                            <!-- user deletion -->
                           <a data-toggle="modal" href="#" data-target="#deleteUser{{ i_user.id }}Modal">
                             usuń
                           </a>
                           <!-- Modal -->
                           <div class="modal fade" id="deleteUser{{ i_user.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                               <div class="modal-content">
                                 <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   <h4 class="modal-title" id="myModalLabel">Potwierdzenie usunięcia</h4>
                                 </div>
                                 <form method="POST" class="post-form">{% csrf_token %}
                                     <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="del" />
                                     <input type="hidden" id="id_id_del" type="IntegerField" name="id_del" value={{ i_user.id }} />
                                     <div class="modal-body">
                                       Czy napewno chcesz usunąć użytkownika "{{ i_user.username }}"&#63;

                                     </div>
                                     <div class="modal-footer">

                                       <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Usuń</button>
                                     </div>
                                 </form>
                               </div>
                             </div>
                           </div>

                            <!-- end of user deletion-->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div><!-- end of panel's body -->
            <div class panel-footer>
              {% include 'pagination_users.html' %}
            </div>
          </div><!-- end of panel-->
        </div><!-- end of table with users -->
    </div>
</div>
{% endblock %}
