{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3>Jesteś na stronie zarządzania użytkownikami</h3>

            <!-- table with users -->
            <table class="table table-striped">
                <caption>Lista użytkowników</caption>
                <thead>
                    <tr>
                        <th>nick</th>
                        <th>email</th>
                        <th>imie</th>
                        <th>nazwisko</th>
                        <th>akcja</th>
                    </tr>
                </thead>
                <tbody>
                {% for i_user in users %}
                    <tr>
                        <td>{{ i_user.username }}</td>
                        <td>{{ i_user.email }}</td>
                        <td>{{ i_user.first_name }}</td>
                        <td>{{ i_user.last_name }}</td>
                        <td>

                            <!-- user edition -->
                           <a data-toggle="modal" data-target="#editUser{{ i_user.id }}Modal">
                             edytuj
                           </a>
                            <!-- Modal -->
                            <div class="modal fade" id="editUser{{ i_user.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Edytuj użytkownika {{ i_user.username }}</h4>
                                  </div>
                                  <div class="modal-body">
                                    Aby nie zmieniać hasłą, pozostaw pole hasło puste.
                                    <form method="POST" class="post-form">{% csrf_token %}
                                            <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="edit" />
                                            <input type="hidden" id="id_id_edit" type="IntegerField" name="id_edit" value={{ i_user.id }} />
                                        <p><label for="id_nick">Nick:</label>
                                            <input id="id_nick" type="CharField" name="nick" max_length="30" required  value="{{ i_user.username }}" /></p>
                                        <p><label for="id_password">Hasło:</label>
                                            <input id="id_password" type="CharField" name="password" max_length="30" /></p>
                                        <p><label for="id_password_re">Potwierdz hasło:</label>
                                            <input id="id_password_re" type="CharField" name="password_re" max_length="30" /></p>
                                        <p><label for="id_first_name">Imie:</label>
                                            <input id="id_first_name" type="CharField" name="first_name" max_length="30" value="{{ i_user.first_name }}" /></p>
                                        <p><label for="id_last_name">Nazwisko:</label>
                                            <input id="id_last_name" type="CharField" name="last_name" max_length="30" value="{{ i_user.last_name }}" /></p>
                                        <p><label for="id_email">Email:</label>
                                            <input id="id_email" type="EmailField" name="email" max_length="30" value="{{ i_user.email }}" /></p>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                        <button type="submit" class="btn btn-primary">Zapisz</button>
                                    </form>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- end of user edition -->

                            /


                            <!-- user deletion -->
                           <a data-toggle="modal" data-target="#deleteUser{{ i_user.id }}Modal">
                             usuń
                           </a>
                           <!-- Modal -->
                           <div class="modal fade" id="deleteUser{{ i_user.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                               <div class="modal-content">
                                 <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                   <h4 class="modal-title" id="myModalLabel">Potwierdzenie usunięcia</h4>
                                 </div>
                                 <form method="POST" class="post-form">{% csrf_token %}
                                     <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="del" />
                                     <input type="hidden" id="id_id_del" type="IntegerField" name="id_del" value={{ i_user.id }} />
                                     <div class="modal-body">
                                       Czy napewno chcesz usunąć użytkownika "{{ i_user.username }}"&#63;

                                     </div>
                                     <div class="modal-footer">

                                       <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Usuń</button>
                                     </div>
                                 </form>
                               </div>
                             </div>
                           </div>

                            <!-- end of user deletion-->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- end of table with users -->
            <!-- button you should click to add user -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
                  Dodaj Użytkownika
                </button>
                <!-- Modal -->
                <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Dodaj użytkownika</h4>
                      </div>
                      <div class="modal-body">
                        Pola hasło i nick są wymagane
                        <form method="POST" class="post-form">{% csrf_token %}
                                <input type="hidden" id="id_option" type="CharField" name="option" max_length="10" value="add" />
                            <p><label for="id_nick">Nick:</label>
                                <input id="id_nick" type="CharField" name="nick" max_length="30" required /></p>
                            <p><label for="id_password">Hasło:</label>
                                <input id="id_password" type="CharField" name="password" max_length="30" required /></p>
                            <p><label for="id_password_re">Potwierdz hasło:</label>
                                <input id="id_password_re" type="CharField" name="password_re" max_length="30" required /></p>
                            <p><label for="id_first_name">Imie:</label>
                                <input id="id_first_name" type="CharField" name="first_name" max_length="30" /></p>
                            <p><label for="id_last_name">Nazwisko:</label>
                                <input id="id_last_name" type="CharField" name="last_name" max_length="30" /></p>
                            <p><label for="id_email">Email:</label>
                                <input id="id_email" type="EmailField" name="email" max_length="30" /></p>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
            <!-- end of button and it's modal -->
        </div>
    </div>
</div>
{% endblock %}